<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My House</title>
    <link rel="stylesheet" href="css/style.css">



</head>
    <nav>
        <div class="navbar">
        <div class="logo">MY<img src="image/Logo.png" alt="house logo">HOUSE</div>
        <div class="navbar-right">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/">ABOUT</a></li>
                <li><a href="/">CONTACT US</a></li>
            </ul>
        </div>
    </div>
    </nav>
<body>
    <div  class="container">