<%- include("header")-%>

<div class="hero">

        <div class="hero-content">

<h1>The Future of <br> Property Tech is Here </h1>
<p>Revolutionizing real estate with cutting edge  <br> technology. Be among the first to experience it.</p>

    <form action="/" method="post">
        <input type="email" name="email" placeholder="Enter your email" autocomplete="off" id="email">
        <button type="submit">Join the Wait List!</button>
    </form>
        </div>
</div>
<div class="section">
    <div class="left-section">
        <h2>Why Join The Wait list?</h2>
        <p>✅ Early Access to Exclusive features</p>
        <p>✅ Be Part of the innovation</p>
        <p>✅ Special perks for early adopters</p>
    </div>
    <div class="right-section">
        <h2>How It Works</h2>
        <p>1️⃣ signup for early access</p>
        <p>2️⃣ Get notified before launch</p>
        <p>3️⃣ enjoy exclusive features</p>
    </div>
</div>



<%- include("footer")-%>